# --- Python / Environnement ---
.venv/
__pycache__/
*.py[cod]
*$py.class

# --- Données (Scraping) ---
# On ignore les fichiers de données brutes car ils peuvent être lourds


# --- Modèles de Prédiction ---
# Les modèles entraînés (.pkl, .joblib) sont souvent volumineux


# --- Configuration / Secret ---
